<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <!--setting viewport-->
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <!--link to bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--link to external css-->
    <link id="style-change" rel="stylesheet" href="public/assets/css/style.css">
    <title>HandleBars Testing</title>

</head>

<body>
    <div class="container">
        <h1>TESTING bootstrap: success, jquery and js link is a success</h1>
    {{{body}}}
	</div>
</body>
<!--link to jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--Link to external js-->
<script src="public/assets/js/logic.js"></script>

</html>